<div>
    <h2 class="text-center mb-4">{{'MAIN.RENTALS' | translate}}</h2>
    <button type="button" (click)="setEmptyFields()" data-bs-toggle="modal" data-bs-target="#createModal" class="btn btn-success"><i class="bi bi-plus-lg"></i></button>
    <div class="d-flex justify-content-between mt-3 mb-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'FORM.SEARCHBYID' | translate}}" aria-label="Search text" [(ngModel)]="searchText">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{'RENTALFORM.ID' | translate}}</th>
                            <th>{{'RENTALFORM.FULLYPAID' | translate}}</th>
                            <th>{{'RENTALFORM.PAYMENTSTATUS' | translate}}</th>
                            <th>{{'RENTALFORM.FULLCARNAME' | translate}}</th>
                            <th>{{'RENTALFORM.FULLCLIENTNAME' | translate}}</th>
                            <th>{{'RENTALFORM.HOURS' | translate}}</th>
                            <th>{{'RENTALFORM.STARTDATE' | translate}}</th>
                            <th>{{'RENTALFORM.ENDDATE' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rental of search() | slice:(currentPage-1)*size:currentPage*size">
                            <td>{{ rental.id }}</td>
                            <td>
                                <i *ngIf="rental.isPaid === 'Yes'" class="bi bi-check-circle-fill green-info"></i>
                                <i *ngIf="rental.isPaid === 'No'" class="bi bi-x-circle-fill red-info"></i>
                            </td>
                            <td>{{ rental.paymentStatus }} zł</td>
                            <td>{{ rental.fullNameWithYear }}</td>
                            <td>{{ rental.clientFullName }}</td>
                            <td>{{ rental.hours }}</td>
                            <td>{{ rental.startDate | date:'dd.MM.yyyy HH:mm' }}</td>
                            <td>{{ rental.endDate | date:'dd.MM.yyyy HH:mm' }}</td>
                            <td>
                                <button type="button" class="btn btn-info" (click)="navigateToRentalDetails(rental.id)"><i class="bi bi-info-lg"></i></button>
                                <button type="button" (click)="setPaymentId(rental.id)" data-bs-toggle="modal" data-bs-target="#paymentModal" class="btn btn-secondary"><i class="bi bi-wallet2"></i></button>
                                <button type="button" (click)="setRentalId(rental.id)" data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button>
                                <button type="button" (click)="setRentalId(rental.id)" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage == 1">
                        <a class="page-link" (click)="previousPage()"><i class="bi bi-chevron-left"></i></a>
                    </li>
                    <li class="page-item" *ngFor="let page of totalPages()" [class.active]="currentPage == page">
                        <a class="page-link" (click)="setCurrentPage(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage == totalPages().length">
                        <a class="page-link" (click)="nextPage()"><i class="bi bi-chevron-right"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">{{ 'FORM.CREATERENTAL' | translate }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="carId" class="form-label">{{ 'RENTALFORM.FULLCARNAME' | translate }}</label>
                        <select class="form-select" id="carId" name="carId" [(ngModel)]="rentalData.carId" required>
                            <ng-container *ngFor="let car of cars">
                                <option [value]="car.id">{{ car.fullName }} - {{ car.yearOfProduction }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="clientId" class="form-label">{{ 'RENTALFORM.FULLCLIENTNAME' | translate }}</label>
                        <select class="form-select" id="clientId" name="clientId" [(ngModel)]="rentalData.clientId" required>
                            <ng-container *ngFor="let client of clients">
                                <option [value]="client.id">{{ client.fullName }} - {{ client.pesel }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hours" class="form-label">{{ 'RENTALFORM.HOURS' | translate }}</label>
                        <input type="number" class="form-control" id="hours" name="hours" [(ngModel)]="rentalData.hours" required>
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="form-label">{{ 'RENTALFORM.STARTDATE' | translate }}</label>
                        <input type="datetime-local" class="form-control" id="startDate" name="startDate" [(ngModel)]="rentalData.startDate" required>
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="form-label">{{ 'RENTALFORM.ENDDATE' | translate }}</label>
                        <input type="datetime-local" class="form-control" id="endDate" name="endDate" [(ngModel)]="rentalData.endDate" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="createRental()" data-bs-dismiss="modal" class="btn btn-success w-100">{{ 'FORM.CREATE' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="paymentModalLabel">{{ 'FORM.CREATEPAYMENT' | translate }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="rentalId" class="form-label">{{ 'PAYMENTFORM.RENTALID' | translate }}</label>
                        <input type="number" class="form-control readonly-container" id="rentalId" name="rentalId" [(ngModel)]="paymentData.rentalId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-label">{{ 'PAYMENTFORM.DESCRIPTION' | translate }}</label>
                        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="paymentData.description" required>
                    </div>
                    <div class="form-group">
                        <label for="sum" class="form-label">{{ 'PAYMENTFORM.SUM' | translate }} [zł]</label>
                        <input type="number" class="form-control" id="sum" name="sum" [(ngModel)]="paymentData.sum" required>
                    </div>
                    <div class="form-group">
                        <label for="paymentDate" class="form-label">{{ 'PAYMENTFORM.PAYMENTDATE' | translate }}</label>
                        <input type="datetime-local" class="form-control" id="paymentDate" name="paymentDate" [(ngModel)]="paymentData.paymentDate" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="createPayment()" data-bs-dismiss="modal" class="btn btn-success w-100">{{ 'FORM.CREATE' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">{{ 'FORM.EDITRENTAL' | translate }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="id" class="form-label">{{ 'RENTALFORM.ID' | translate }}</label>
                        <input type="number" class="form-control readonly-container" id="id" name="id" [(ngModel)]="rentalData.id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="carId" class="form-label">{{ 'RENTALFORM.FULLCARNAME' | translate }}</label>
                        <select class="form-select" id="carId" name="carId" [(ngModel)]="rentalData.carId" required>
                            <ng-container *ngFor="let car of cars">
                                <option [value]="car.id">{{ car.fullName }} - {{ car.yearOfProduction }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="clientId" class="form-label">{{ 'RENTALFORM.FULLCLIENTNAME' | translate }}</label>
                        <select class="form-select" id="clientId" name="clientId" [(ngModel)]="rentalData.clientId" required>
                            <ng-container *ngFor="let client of clients">
                                <option [value]="client.id">{{ client.fullName }} - {{ client.pesel }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hours" class="form-label">{{ 'RENTALFORM.HOURS' | translate }}</label>
                        <input type="number" class="form-control" id="hours" name="hours" [(ngModel)]="rentalData.hours" required>
                    </div>
                    <div class="form-group">
                        <label for="startDate" class="form-label">{{ 'RENTALFORM.STARTDATE' | translate }}</label>
                        <input type="datetime-local" class="form-control" id="startDate" name="startDate" [(ngModel)]="rentalData.startDate" required>
                    </div>
                    <div class="form-group">
                        <label for="endDate" class="form-label">{{ 'RENTALFORM.ENDDATE' | translate }}</label>
                        <input type="datetime-local" class="form-control" id="endDate" name="endDate" [(ngModel)]="rentalData.endDate" required>
                    </div>
                    <div class="form-group">
                        <label for="createdDate" class="form-label">{{ 'RENTALFORM.CREATEDDATE' | translate }}</label>
                        <input type="datetime-local" class="form-control readonly-container" id="createdDate" name="createdDate" [(ngModel)]="rentalData.createdDate" readonly>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="updateRental()" data-bs-dismiss="modal" class="btn btn-success w-100">{{ 'FORM.UPDATE' | translate }}</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">{{ 'FORM.CONFIRMDELETE' | translate }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">{{ 'FORM.DELETECLIENT' | translate }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'FORM.CANCEL' | translate }}</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteRental()">{{ 'FORM.DELETE' | translate }}</button>
            </div>
        </div>
    </div>
</div>