.form-control {
    border-color: rgba(0, 0, 0, 0.175);
}

.form-label {
    margin-bottom: 0;
}

.pagination {
    margin-bottom: 0;
}

.email-container {
    background-color: #ededed;
}

p {
    margin-bottom: 0.5rem;
}