/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
    background-color: #efeeea;
}

.active > .page-link {
  background-color: #132239;
  border-color: #132239;
}

.pagination {
  --bs-pagination-color: #132239;
  --bs-pagination-hover-color: #132239;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.link-p {
  color: #1d2378;
  text-decoration: underline;
  cursor: pointer;
}

.green-info {
  color:green;
}

.red-info {
  color: red;
}

.page-link {
  cursor: pointer;
}

.btn-info {
  margin: 2px;
}

.btn-warning {
  margin: 2px;
}

.btn-secondary {
  margin: 2px;
}

.btn-primary {
  margin: 2px;
}

.btn-danger {
  margin: 2px;
}