.card-body {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

h2 {
    text-align: center;
}

.dashboard-container {
    min-height: 85vh;
}

h1 {
    font-size: 3rem;
    color: #52CDD6;
}

.card {
    color: #132239;
    transition: 0.35s ease;
}

.card:hover {
    background-color: #132239;
    color: #ffffff;
    cursor: pointer;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.charts-container {
    margin-top: 1.5rem;
    margin-bottom: 3.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    width: 81.75%;
}

.charts-container{
    color: #000000;
}

.charts-container:hover{
    background-color: #ffffff;
    color: #000000;
    cursor: auto;
}

h5 {
    margin-bottom: 2rem;
    text-align: center;
}

@media (max-width: 992px) {
    .flex-wrap.row {
      flex-direction: column !important;
      align-items: center;
    }
    .dashboard-container {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .card {
        margin-bottom: 1rem;
    }
  }